<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>BucketImg</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">BucketImg</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="divGeneral">
    <div class="cuadroLogin">
      <ion-label>CONFIGURACIÓN</ion-label>
      <ion-button shape="round" (click)="irPantalla('/informacion')">EDITAR INFORMACIÓN PERSONAL</ion-button>
      <ion-button shape="round" (click)="irPantalla('/reconocimiento')">CONFIGURACIÓN RECONOCIMIENTO FACIAL</ion-button>
      <ion-button shape="round" (click)="irPantalla('/eliminar')">ELIMINAR CUENTA</ion-button>
      <ion-button shape="round" (click)="irPantalla('/home')">REGRESAR</ion-button>
    </div>
  </div>

</ion-content>
