.divImg {
    height: 50%;
    width: 100%;
    text-align: -webkit-center;
  }
  
  .labels {
    width: 100%;
  }
  
  ion-button {
    width: 80%;
  }

.imgNormalPopup {
    height: 100% !important;
}

.imgNormalPopup::part(image) {
    width: 100% !important;
    height: 100% !important;
    border-radius: 0;
}